.main {
    background-color: #F0FFFF;
}

.bt_reg_come_in {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-image: url(images/font_content.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #666;
    font: 12px/18px Tahoma, Arial, Helvetica, sans-serif;
}